@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr 2.5fr 0.5fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "header nav nav"
        "section1 section1 section1"
        "section2 section2 section2"
        "section3 section3 section3"
        "footer footer footer";
    background-color: rgb(0, 0, 0);
    color: white;
}

/* NAV */
.nav {
    grid-area: nav;
    display: flex;
}

.listnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

/* Para que se vayan los puntitos de la lista */
.listnav li {
    list-style: none;
    padding: 20px;
}

/* text decoration es para sacarle el subrayado al link */
.listnav li a {
    color: white;
    list-style: none;
    margin: 25px;
    text-decoration: none;
}

/* Para darle un color cuando pase el mouse por el link y asignamos la transicion de segundos que le mouse pasa por el mismo*/
.listnav li a:hover {
    color: white;
    transition: all .3s;
}

/* SUB MENU */
.submenu {
    position: absolute;
    background-color: black;
    display: none;
    border-radius: 15px;
}

.submenu li a {
    display: block;
    padding: 0px;
    margin: 0px;
    color: white;
    text-decoration: none;
}

.listnav li:hover .submenu {
    display: block;
}

/* END SUB MENU */
/* END NAV */


/* HEADER FORMAT START */
.header {
    grid-area: header;
    display: flex;
    justify-content: flex-end;
}

.logodesktop {
    width: 70px;
    height: 60px;
    padding: 10px;
}

/* HEADER FORMAT END */

.section1 {
    grid-area: section1;
}

.box5 {
    width: 100%;
}

.section2 {
    grid-area: section2;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    background-color: white;

}

.box1 {
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.section3 {
    grid-area: section3;
}

.box6 {
    width: 100%;
}

/* FOOTER */

.footer {
    grid-area: footer;
    background-color: 33,37,41;
    text-align: center;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer li a {
    padding: 50px; 
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer li:hover {
    color: grey;
    list-style: none;
}

/*  RESPONSIVE DESING - MEDIA QUERY - MOBILE LAST */
/*  MOBILE LAST = MAX-WIDTH*/

@media(max-width: 768px) {
   
    .listnav li {
        list-style: none;
        padding: 5px;
        font-size: small;
    }

    .listnav li a {
        margin: 5px;
    }

    .logodesktop {
        width: 35px;
        height: 30px;
        padding: 5px;
    }
}

@media(max-width: 1024px) {

    .listnav li {
        list-style: none;
        padding: 5px;
        font-size: small;
        margin: 5px;
    }

}

@media(max-width: 425px) {
   
    .listnav li {
        list-style: none;
        padding: 0px;
        font-size: 7px;
    }

    .listnav li a {
        margin: 0px;
    }

    .logodesktop {
        width: 17.5px;
        height: 15px;
        padding: 2.5px;
    }

    .footer li a {
        padding: 20px; 
        color: white;
        text-decoration: none;
    }
}