@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 2.5fr 0.5fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header nav nav" "section1 section1 section1" "section2 section2 section2" "section3 section3 section3" "footer footer footer";
  background-color: black;
  color: white; }

.section1 {
  grid-area: section1; }

.box5 {
  width: 100%; }

.section2 {
  grid-area: section2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  background-color: white; }

.box1 {
  width: 100%;
  padding: 5px;
  margin: 0px; }

.section3 {
  grid-area: section3; }

.box6 {
  width: 100%; }

/* FOOTER */
.footer {
  grid-area: footer;
  background-color: 33, 37, 41;
  text-align: center;
  display: flex;
  flex-direction: column;
  list-style: none; }

.footer li {
  list-style: none;
  text-decoration: none; }

.footer li a {
  padding: 50px;
  color: white;
  text-decoration: none;
  list-style: none; }

.footer li:hover {
  color: grey;
  list-style: none; }

.newform {
  background-image: linear-gradient(to bottom right, #f8f9fa, #eeeded);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-decoration-color: white;
  padding-bottom: 5%;
  padding-top: 5%; }

/*  RESPONSIVE DESING - MEDIA QUERY - MOBILE LAST */
/*  MOBILE LAST = MAX-WIDTH*/
@media (max-width: 425px) {
  .footer li a {
    padding: 20px;
    color: white;
    text-decoration: none; } }
